<!DOCTYPE html>
<html>
<head>
    <title>Créditos</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h2>Esta página ha sido realizada por <%= name %></h2>

</body>
</html>