<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <ul>
        <li href="http://localhost:3000/credits">Credits</li>
        <li href="http://localhost:3000/quizzes">Quizzes</li>
    </ul>
  </body>
</html>
