<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <header>
        <h2>The Quiz Site</h2>
    </header>
    <nav>
        <a href="/">Home</a>
        <a href="/credits">Credits</a>
        <a href="/quizzes">Quizzes</a>
    </nav>
    <section>
        <div>
            <%- body %>
        </div>
    </section>
</body>
</html>